
*{
	margin:0;
	padding:0;
}
#container{
	width:930px;
	margin:50px auto;
}
ul.tab{
	padding:0;
}
ul.tab li{
	list-style-type:none;
	width:310px;
	height:40px;
	float:left;
}

ul.tab li a{
	outline:none;
	background:url("./images/tab.jpg");
	display:block;
	color:blue;
	line-height:40px;
	text-align:center;
	font-size: 20px;
	-moz-background-size:100% 100%;
	background-size:100% 100%;
}
ul.tab li a.selected{
	background:url("./images/tab_selected.jpg");
	text-decoration:none;
	color:#333;
	cursor:default;
	-moz-background-size:100% 100%;
	background-size:100% 100%;
}
ul.panel{
	clear:both;
	border:1px solid #9FB7D4;
	border-top:none;
	padding:0;
}
ul.panel li{
	list-style-type:none;
	padding:10px;
	text-indent:1em;
	color:#333;
}

ul.panel li input.stop_state{
	background-image:url("./images/stop_state.png");
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	width: 150px;
	height: 150px;
	font-size: 20px;
	margin: 15px;
	border: 0px;
}

ul.panel li input.running_state{
	background-image:url("./images/running_state.png");
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	width: 150px;
	height: 150px;
	font-size: 20px;
	margin: 15px;
	border: 0px;
}

ul.panel li input:hover{
    opacity: 0.6;
    filter: alpha(opacity=60);
}


#floatWindow{
	display:none;
	position:absolute;
	width:1000px;
	height:800px;
	top:100px;
	left:100px;
}
#floatWindow a.close{
	position:absolute;
	right:20px;
	top:1px;
}
#floatWindow a.close img{
	border:none;
}
#floatWindow dl{
	width:100%;
	height:100%;
	background-image:url("./images/floatWindow.png");
	margin:0;
}
#floatWindow dl dt{
	height:25px;
	line-height:25px;
	text-indent:1em;
	color:white;
	font-weight:bold;
	cursor:move;
}
#floatWindow dl dd{
	margin:0;
	padding:2em;
	line-height:3;
	text-indent:1em;
}

#floatWindow dl dd input[type="button"]{
	width: 80px;
	height: 30px;
	font-size: 18px;
	margin: 10px;
}

#floatWindow dl dd input.delete_button{
	background-image:url("./images/task_delete.png");
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	width: 30px;
	height: 30px;
	font-size: 18px;
	margin: 10px;
	border: 0px;
}

#floatWindow dl dd input.task{
	width: 400px;
	height: 30px;
	font-size: 20px;
	margin: 10px;
}

#floatWindow dl dd input.time{
	text-align:right;
	width: 90px;
	height: 30px;
	font-size: 20px;
	margin: 10px;
}

canvas { background-color: #DDDDDD; font: 30px sans-serif; }